body
    margin 0px
    background-color #f6f6f6
.box
    background-color #fff
    border 1px solid #d6d6d6
    width 500px
    border-radius 8px
    padding 16px
    position absolute
    .btn-success
        width 100%
        background-color #E85722
        border 0px
        
.mtop16
    margin-top 16px
    


